# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
**/bin/
**/obj/

# .NET
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Android
*.apk
*.aab

# Secrets / Keys (DO NOT COMMIT)
*.pem
*.key
*private-key*.pem

# OS
Thumbs.db
Desktop.ini
.DS_Store
